$primaryColor:#3F51B5;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#e9ecef;
$accentTextColor:#007bff;

@import '../../sass/theme/theme_light';
