:host ::ng-deep {
    .p-datatable-thead{
        border-bottom: 2px solid #1565c0;
        tr {
            .p-sortable-column.p-highlight,
            .p-sortable-column:not(.p-highlight):hover,
            .p-sortable-column:not(.p-highlight):active{
                background-color: #eff3f8;
            }
            th {
                text-align: center;
                padding: 1rem 1rem;
                border-bottom: 1px solid #dee2e6;
                border-width: 0 0 1px 0;
                font-weight: 700;
                color: #343a40;
                background: #eff3f8;
                transition: box-shadow 0.2s
                
            }
        }
    }

    .p-dialog {
        .p-dialog-header{
            background-color: #eff3f8;
        }
        .p-dialog-footer{
           
        }
        .p-dialog-content{
            padding-top: 1.9rem;
        }
    }
    .p-dialog-mask.p-component-overlay{
        z-index: 999 !important;
    }
    
}